* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.btn {
    max-width: 270px;
    width: 100%;
    padding: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}

.social_media {
    background: #F8EFEF;
    margin-bottom: 100px;
}

.tabs {
    margin-bottom: 118px;
}

.awesom {
    margin-bottom: 110px;
}

.tabs__items {
    width: 100%;
    align-items: center;
    display: flex;
}

.tabs__item {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    max-width: 201px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
    color: #333333;
    position: relative;
}

.tabs__item_active {
    border-top: 1px solid #c6cbcd;
    border-left: 1px solid #c6cbcd;
    border-right: 1px solid #c6cbcd;
    border-radius: 5px 5px 0 0;
}

.tabs__item_active:after, .tabs__item:hover:after {
    display: block;
    position: absolute;
    content: '';
    width: 199px;
    border-bottom: 1px solid #fff;
    top: 100%;
}

.tabs__item:hover {
    border-top: 1px solid #c6cbcd;
    border-left: 1px solid #c6cbcd;
    border-right: 1px solid #c6cbcd;
    border-radius: 5px 5px 0 0;
}

.tab {
    border: 1px solid #c6cbcd;
    display: none;
}

.tab:target {
    display: flex;
}

.tab__content {
    width: 60%;
    padding: 55px 29px 54px 101px;
}

.tab__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 57px;
}

.tab__info {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 26px;
}

.tab__wrap {
    margin-bottom: 84px;
}

.tab__btn {
    background: #ec7979;
    border: none;
}

.tab__btn:hover {
    background: #AB4949;
}

.tab__btn:active {
    background: #ec7979;
    box-shadow: inset 0 0 10px #AB4949;
}

.tab__wrap-img {
    width: 40%;
    /*max-height: 501px;*/
}

.tab__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1202px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;
}

.title {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0 auto 80px auto;
    text-align: center;
    position: relative;

}

.title::after {
    display: block;
    content: '';
    border-bottom: 1px solid #ec7979;
    width: 170px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px);
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    color: #86878b;
}

.awesom__subtitle {
    margin-bottom: 92px;

}

.awesom__content-items {
    display: flex;
    column-gap: 27px;
}

.content-items__item {
    /*width: calc((100% - 27px) / 3);*/
    flex: 1 0;

}

.content-items__wrap-image {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #ec7979;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
}

.content-items__title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 33px;
    margin-bottom: 30px;
}

.content-items__info {
    font-weight: 400;
    color: #000000;
    line-height: 21px;
    text-align: center;
}

.pricing {
    background: #F5F5F5;
    padding: 82px 0 83px;
    margin-bottom: 107px;
}

.pricing__subtitle {
    margin-bottom: 79px
}

.benefits {
    display: flex;
    column-gap: 30px;
}

.benefit__item {
    list-style-type: none;
    text-align: center;
    padding: 14px 0 13px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.benefit__item_first {
    padding: 12px 0 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #333333;
}

.benefit__item_second {
    padding: 27px 0 27px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background: #333333;
}

.benefit__item_third {
    background: #333333;
    color: rgba(255, 255, 255, 0.5);
    padding: 13px 0 12px;
}

.benefit {
    /*width: calc((100% - 30px) / 3);*/
    flex: 1 0;
}

.benefit:hover {
    /*margin: -20px 0 20px;*/
    transform: translateY(-20px);
    border: 1px solid #F5F5F5;
    box-shadow: 0 4px 10px rgba(51, 51, 51, 0.2);
}

.reviews {
    /*padding: 107px 0 0;*/
    margin-bottom: 107px;
}

.reviews__subtitle {
    margin-bottom: 83px;
}

.reviews__row {
    display: flex;
    column-gap: 30px;
}

.review {
    flex: 1 0;
}

.review__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    padding: 38px 25px 37px;
    background: #E2E2E2;
    border-radius: 10px;
    position: relative;
    margin-bottom: 66px;
}

.review__text::after {
    content: '';
    position: absolute;
    left: 70px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
}


.bio {
    display: flex;
    gap: 30px;
}

.bio__image-wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.bio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio__info {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.bio__name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 18px;
}

.bio__position {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.interlayer {
    background-image: url("/img/interlayer/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
}

.interlayer::before {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*z-index: -1;*/
}

.interlayer__title {
    color: #FFFFFF
}

.interlayer__title::after {
    border-color: #FFFFFF;
}

.interlayer__subtitle {
    color: #fff;
    margin-bottom: 80px;
}

.interlayer__btn {
    line-height: 25px;
    max-width: 370px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    display: block;
    margin: 0 auto;
}

.interlayer__btn:hover {
    border-color: #EC7979;
    color: #EC7979;
}

.interlayer__btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}