* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

.container {
max-width: 1200px;
padding: 0 15px;
margin: auto;
position: relative;
}

/* Styles header */

.header {
    background: #000000;
    padding: 22px 0;
}

.header__wrap_nav {
    display: flex;
    justify-content: space-between;
}

.header__wrap_logo {
    display: inline-block;
    max-width: 87px;
    max-height: 31px;
}

.header__nav_list {
    display: flex;
    justify-content: space-around;
    max-width: 570px;
    flex-basis: 100%;
    list-style: none;
}

.header__nav_item {
    align-self: center;
}

.header__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* Styles media */

.media {
    padding: 32px 0 18px;
    background: #F8EFEF;
    margin-bottom: 100px;
}



.media__wrap {
    display: flex;
    justify-content: space-between;
}

.media__text_wrap {
    max-width: 470px;
}

.media__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 16px;
}

.media__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.media__icon_list {
    max-width: 670px;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    list-style: none;
}

.media__list_item {
    align-self: center;
}

.media__svg_wrap:hover path {
    fill: rgb(0, 0, 0);
}

/* Styles tabs */

.tabs {
    margin-bottom: 118px;
}

.tabs__item {
    display: inline-block;
    max-width: 184px;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

.tabs__item_active {
    max-width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

.tabs__offer {
    border: 1px solid #C6CBCD;
    display: flex; 
}

.offer__info {
    width: 60%;
    padding: 55px 30px 54px 100px;
}

.offer__info__wrap{
    max-width: 570px;
}

.offer__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 57px;
}

.offer__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 26px;
}

.offer__text:last-child {
    margin-bottom: 0;
}

.offer__texts {
    margin-bottom: 84px;
}

.btn {
    max-width: 270px;
    width: 100%;
    background-color: #EC7979;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.offer__wrap-img {
    width: 40%;
}

.offer__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Styles awesome */

.awesome {
    margin-bottom: 110px;
}

.awesome__title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}



.decoration {
    position: relative;
    margin-bottom: 80px;
}

.decoration::before {
    content: '';
    display: block;
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #EC7979 ;
    margin: 0 auto;
    left:calc(50% - 85px);
    top: calc(100% + 45px);
}

.awesome__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    margin-bottom: 92px;
}

.awesome__advantages {
    display: flex;
    justify-content: space-between;
}

.advantage {
    text-align: center;
    flex: 1 0;
}
.advantage__wrap-img {
    width: 92.25px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px;
    color: #000000;
}

.advantage__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

/* Styles pricing */

.pricing {
    padding: 82px 0;
    background: #F5F5F5;
}

.pricing__title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.pricing__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    margin-bottom: 79px;
}

.pricing__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.pricing__list {
    list-style-type: none;
    width: calc((100% - 60px) / 3);
}

.pricing__list:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    position: relative;
    top: -20px;
}

.pricing__list_item {
    border: 1px solid #F5F5F5;
    text-align: center;
    padding: 15px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #86878B;
    background: #FFFFFF;
}

.pricing__item_title {
    background: #333333;
    font-family: 'Open Sans', sans-serif;
    padding: 14px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.pricing__item_price {
    padding: 29px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background: #333333;
}

.pricing__item_first {
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
}

/* Styles customers */

.customers {
    padding: 107px 0;
}
.customers__title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.customers__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    margin-bottom: 83px;
}

.customers__cards_wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.customer__card {
    max-width: calc((100% - 60px) / 3);

}

.card__text_wrap {
    background: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    padding: 38px 25px;
    position: relative;
}

.card__text_wrap::after {
    content: '';
    border: 20px solid transparent; border-top: 20px solid #E2E2E2;
    position: absolute;
    top: 100%;
    left: 25%;
}

.card__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.user-info__img_wrap {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50px;
    overflow: hidden;
}

.user__img {
    width: 100%;
    object-fit: scale-down;
}

.card__user-info_wrap {
    display: flex;
    column-gap: 30px;
}



.user-info__user-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 18px;
}

.user-info__user-description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

/* Styles axure */
.axure {
    padding: 70px 0;
    background: url(/img/axure-bg.jpg) center / cover no-repeat;
    position: relative;
}

.axure::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.axure__title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.axure__decoration {
    position: relative;
    margin-bottom: 80px;
}
.axure__decoration::before {
    content: '';
    display: block;
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF ;
    margin: 0 auto;
    left:calc(50% - 85px);
    top: calc(100% + 45px);
}

.axure__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 80px;
}
.axure__btn_wrap {
    text-align: center;
}

.axure__btn {
    display: inline-block;
    padding: 20px 140px;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}
/* Styles footer */ 

.footer {
    padding: 35px 0 27px;
    background: #000000;
}

.footer__list {
    list-style: none;
    display: flex;
    max-width: 570px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__list_item {
    align-self: center;
}

.footer__svg_wrap:hover path {
    fill: #EC7979;
}

.footer__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}