* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tab-info{
    margin-bottom: 118px;
}

.awesome{
    text-align: center;
    margin-bottom: 118px
}
.container {
    max-width: 1202px;
    padding: 0 16px;
    margin:0 auto;
}

.tab-info__item {
    max-width: 183px;
    width:100%;
    padding:10px;
    border:1px solid transparent;
    border-bottom:none;
    text-align: center;
    display:inline-block;
    text-transform: uppercase;
    font-family: 'Open Sans';   
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.tab-info__item_active {
    max-width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}
.tab-info__tab{
    border: 1px solid #C6CBCD;
    display: flex;
}

.tab__content {
    width: 60%;
    display: inline-block;
    padding: 55px 30px 54px 100px;
}
.tab__effect-title{
    margin-bottom: 37px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.tab__text {
    margin-bottom: 84px; 
}
.text__main{
    margin-bottom: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.text__main:last-child{
    margin-bottom: 0px;
}
.tab__btn {
    max-width: 270px;
    width:100%;
    padding:16px;
    background: #EC7979;
    border:none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor:pointer;
} 
.tab__wrap-image{
    width: 60%;
    display: inline-block;
}
.tab__image {
    height: 100%;
    width: 100%;
    object-fit:cover;
}
/* css блока Awesome */

.title{
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

}
.separator{
    width:170px;
    border-bottom: 1px solid #EC7979;
    margin:0 auto 40px;
}
.subtitle{
    color:#86878B;
    margin-bottom: 92px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.awesome__benefit{
    display:flex;
    justify-content: space-between;
}
.benefit__block{
    /* max-width: 371px;
    margin-right: 27px; */
    width:calc((100%-54px)/3);
}
.benefit__block:last-of-type{
    margin-right: 0px;
}
.benefit__wrap-img{
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-radius: 50%;
}
.benefit__img {
    height: 100%;
    width:100%;
    object-fit: none;
}
.benefit__text{ 
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.benefit__title{
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

/* блок price */
.price{
    margin-bottom: 118px;
    background-color: #F5F5F5;
    text-align: center;
    padding:77px 0 88px;
}
.price__items {
    display:flex;
    justify-content: space-between;
}
.price__item{
    max-width: 370px;
    width:calc((100%-60px)/3);
    text-decoration: none;

}
.item {
    list-style: none;
    border:1px solid #F5F5F5;
    padding: 15px 0 14px 0;
    text-transform: capitalize;
}
.item__header{
    background-color: #333333;
    padding:14px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;

}
.item__cost{
    background-color: #333333;
    padding:29px 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;

}
.item__advantage{
    padding: 15px 0 14px 0;
    background-color: #333333;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);}
.item__description{
    padding:15px 0 14px 0;
    background-color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    
}
.price__item_active {
    margin: -20px 0 0 0;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
