*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.transitions{
    margin-bottom: 110px;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1202px;
}
.transitions__tab_active {
    max-width: 202px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
}
.transitions__tab {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    max-width: 184px;
    width: 100%;
    display: inline-block;
    padding: 9px;
    text-decoration: none;
    color: #333333;
    }

.transitions__content{
    border: 1px solid #C6CBCD;
}
.transitions__info{
    width: 60%;
    padding: 56px 29px 54px 101px;
    display: inline-block;
    vertical-align:top
}
.transitions__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 57px;
    font-family: 'Open Sans', sans-serif;
}
.transitions__description{
    margin-bottom: 84px;
}
p:first-child{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
    font-family: 'Raleway', sans-serif;
}
p:last-child{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}
.transitions__button{
    max-width: 270px;
    width: 100%;
    padding: 16px;
    background: #EC7979;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif; 
}
.transitions__wrap-image{
    display: inline-block;
    max-width: 38%;
}
.transitions__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantages {
    margin-bottom: 110px;
    text-align: center;
}
.advantages__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}
.advantages__border {
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    margin: 0 auto 40px;
}
.advantages__slogan {
    color: #86878B;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 92px;
    font-family: 'Raleway', sans-serif;
}
.advantage {
    display: inline-block;
    max-width: 354px;
    margin-right: 28px;
    vertical-align: top;
}
.advantage:last-child {
    margin-right: 0;

}
.advantage__wrap{
    margin: 0 auto 24px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    width: 92px;
    height: 92px;
}
.advantage__img{
    height: 100%;
    width: 100%;
    object-fit: none;
}
.advantage__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px; 
    font-family: 'Open Sans', sans-serif; 
}
.advantage__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
}