* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

:root {
    --main-color: #EC7979;
    --second-color: #AB4949;
}

body {
    background-color: #FFFFFF;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 16px;
}


/* Nav */
.header {
    padding: 22px 0;
    background: #000000;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrapper {
    max-width: 86.8px;
    display: inline-block;
}

.header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav__list {
    display: flex;
    list-style: none;
    column-gap: 3px;
}

.nav__item {
    min-width: 110px;
    text-align: center;
}

.nav__link {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__link:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: .3s;
}

/* Promo */
.promo {
    padding: 306px 0 185px;
    background: url(../assets/photos/promo_image.jpg) center/cover no-repeat;
    position: relative;
}

.promo__container {
    position: relative;
}

.promo::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.promo__wrapper {
    display: flex;
    column-gap: 28px;
    justify-content: space-between;
}

.promo__main-content {
    max-width: 57%;
}

.promo__form {
    max-width: 40%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 36px 0 50px;
}

.promo__logo-wrapper {
    width: 170px;
    margin-bottom: 72.88px;
}

.poromo__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 97px;
}

.promo__title::before {
    content: "";
    width: 170px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    top: 100%;
    transform: translate(0, 55px);
}

.promo__subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 270px;
    margin-bottom: 42px;
}

.promo__button {
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.promo__button:hover {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: .5s;
}

.promo__button:active {
    background: var(--second-color);
    border: 2px solid var(--second-color);
    color: #FFFFFF;
    transition: .5s;
}

/*Social*/
.social {
    background: #F8EFEF;
    padding: 32px 0;
    margin-bottom: 100px;
}

.social__wrapper {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.social__text {
    max-width: 470px;
}

.social__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 16px;
}

.social__subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.social__icons {
    display: flex;
    column-gap: 30px;
}

.social__icon-wrapper {
    width: 70px;
    height: 70px;
    list-style: none;
}

.social__icon-link {
    width: 100%;
    height: 100%;
    display: block;
}

.social__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social__icon:hover path{
    fill: var(--main-color);
    transition: .2s;
}

.social__icon-wrapper:hover {
    transform: scale(1.5);
    transition: .2s;
}

/*About block*/
.about {
    margin-bottom: 118px;
}

.about__links {
    display: flex;
}

.about__link {
    max-width: 184px;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}

.about__link_active {
    max-width: 203px;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.about__link_active::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    border-bottom: 4px solid white;
}

.about__content {
    display: flex;
    border: 1px solid #C6CBCD;
}

.about__text {
    padding: 56px 29px 54px 100px;
    width: 60%;
}

.about__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 57px;
}

.about__information {
    margin-bottom: 84px;
}

.about__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.about__subtitle:first-child {
    margin-bottom: 26px;
}

.about__wrap-photo {
    width: 40%;
}

.about__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__button {
    background: var(--main-color);
    color: #FFFFFF;
}

.about__button:hover {
    background: var(--second-color);
    transition: .5s;
}

.about__button:active {
    background: var(--main-color);
    box-shadow: inset 0px 0px 10px var(--second-color);
    transition: .5s;
}

.btn {
    max-width: 270px;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: block;
    text-align: center;
    padding: 16px 0;
    cursor: pointer;
    text-decoration: none;
}

/*Awesome block*/
.awesome {
    margin-bottom: 110px;
}

.title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    position: relative;
}

.title::before {
    content: "";
    width: 170px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: var(--main-color);
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px);
}

.border {
    width: 170px;
    height: 0px;
    border-bottom: 1px solid var(--main-color);
    margin: 0 auto 40px;
    display: none;
}

.subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 92px;
}

.awesome__items {
    display: flex;
    justify-content: space-between;
    column-gap: 27px;
}

.item {
    text-align: center;
    flex: 1 0;
}

.item__icon {
    width: 91px;
    height: 91px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.icon {
    width: 65px;
    height: 65px;
}

.icon:hover path {
    fill: var(--second-color);
    transition: .5s;
}

.icon-first:hover path {
    fill: none;
    stroke: var(--second-color);
    transition: .5s;
}

.item__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 30px;
}

.item__subtitle {
    font-size: 18px;
    line-height: 21px;
}


/*Pricing block*/
.price {
    background: #F5F5F5;
    padding: 82px 0 83px;
    margin-bottom: 107px;
}

.price__option-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: flex-start;
}

.option-item__header {
    margin-bottom: 0;
    line-height: 33px;
    padding: 12px 0;
    color: #FFFFFF;
    border: 1px solid #F5F5F5;
}

.option-item {
    text-align: center;
    flex: 1 0;
    background: #FFFFFF;
}

.option-item__main {
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.option-item__main-info {
    background: #333333;
}

.price__subtitle {
    margin-bottom: 79px;
}

.option-item__price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding: 28px 0;
    border: 1px solid #F5F5F5;
}

.option-item__info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    border: 1px solid #F5F5F5;
}

.option-item__space-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    padding: 15px 0;
    border: 1px solid #F5F5F5;
    list-style-type: none;
}


/*Customers block*/
.customers {
    margin-bottom: 107px;
}

.customer__items-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.customer__subtitle {
    margin-bottom: 83px;
}

.customer__review {
    padding: 38px 25px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}

.customer__review::after {
    position: absolute;
    content: "";
    border: 20px solid transparent; border-top: 30px solid #E2E2E2;
    left: 72px;
    top: 100%;
}

.customer__profile {
    display: flex;
    align-items: center;
}

.customer__item {
    flex: 1 0;
}

.customer__photo-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.customer__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customer__info {
    max-width: 269px;
}

.customer__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 18px;
}

.customer__position {
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}

/*Design*/
.design {
    padding: 70px 0;
    background: url(../assets/photos/image_bg.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 67px;
}

.design::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.design__container {
    position: relative;
}

.design__title {
    color: #FFFFFF;
}

.design__subtitle {
    color: #FFFFFF;
    margin-bottom: 80px;
}

.design__title::before {
    content: "";
    width: 170px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px);
}

.design__button {
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    max-width: 370px;
    margin: 0 auto;
}

.design__button:hover {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: .5s;
}

.design__button:active {
    background: var(--second-color);
    border: 2px solid var(--second-color);
    color: #FFFFFF;
    transition: .5s;
}

/* Contact Us */
.customer__subtitle {
    margin-bottom: 0;
}

/*Contacts*/
.contact {
    margin-bottom: 67px;
}

/*Footer*/
.footer {
    background: #000000;
    padding: 35px 0 27px;
}

.footer__icons-wrapper {
    display: flex;
    column-gap: 32.8px;
    justify-content: center;
    margin-bottom: 27.8px;
}

.footer__icon-item {
    width: 53.2px;
    height: 53.2px;
    list-style: none;
}

.footer__icon-link {
    width: 100%;
    height: 100%;
    display: block;
}

.footer__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__copyright {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.footer__icon:hover path{
    fill: var(--main-color);
    transition: .2s;
}

.footer__icon-item:hover {
    transform: scale(1.5);
    transition: .2s;
}

