* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

:root {
    --main-color: #EC7979;
    --second-color: #AB4949;
}

body {
    background-color: #FFFFFF;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 16px;
}

/*About block*/
.about {
    margin-bottom: 118px;
}

.about__links {
    display: flex;
}

.about__link {
    max-width: 184px;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}

.about__link_active {
    max-width: 203px;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.about__link_active::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 201px;
    height: 0px;
    border-bottom: 4px solid white;
}

.about__content {
    display: flex;
    border: 1px solid #C6CBCD;
}

.about__text {
    padding: 56px 29px 54px 100px;
    width: 60%;
}

.about__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 57px;
}

.about__information {
    margin-bottom: 84px;
}

.about__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.about__subtitle:first-child {
    margin-bottom: 26px;
}

.about__wrap-photo {
    width: 40%;
}

.about__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__button {
    background: var(--main-color);
    color: #FFFFFF;
}

.about__button:hover {
    background: var(--second-color);
    transition: .5s;
}

.about__button:active {
    background: var(--main-color);
    box-shadow: inset 0px 0px 10px var(--second-color);
}

.btn {
    max-width: 270px;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    padding: 16px 0;
    cursor: pointer;
    text-decoration: none;
}

/*Awesome block*/
.awesome {
    margin-bottom: 110px;
}

.title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title::after {
    content: "";
    width: 170px;
    height: 0px;
    display: block;
    border-bottom: 1px solid var(--main-color);
    margin: 40px auto 0;
}

.border {
    width: 170px;
    height: 0px;
    border-bottom: 1px solid var(--main-color);
    margin: 0 auto 40px;
    display: none;
}

.subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 92px;
}

.awesome__items {
    display: flex;
    justify-content: space-between;
    column-gap: 27px;
}

.item {
    text-align: center;
    flex: 1 0;
}

.item__icon {
    width: 91px;
    height: 91px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.icon {
    width: 65px;
    height: 65px;
}

.item__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 30px;
}

.item__subtitle {
    font-size: 18px;
    line-height: 21px;
}


/*Pricing block*/
.price {
    background: #F5F5F5;
    padding: 82px 0 83px;
}

.price__option-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: flex-start;
}

.option-item__header {
    margin-bottom: 0;
    line-height: 33px;
    padding: 12px 0;
    border-bottom: 2px solid #F5F5F5;
    color: #FFFFFF;
    border: 1px solid #F5F5F5;
}

.option-item {
    text-align: center;
    flex: 1 0;
    background: #FFFFFF;
}

.option-item__main {
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.option-item__main-info {
    background: #333333;
}

.price__subtitle {
    margin-bottom: 79px;
}

.option-item__price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding: 28px 0;
    border: 1px solid #F5F5F5;
}

.option-item__info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    border: 1px solid #F5F5F5;
}

.option-item__space-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    padding: 15px 0;
    border: 1px solid #F5F5F5;
    list-style-type: none;
}