* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.promo {
    padding: 270px 0 451px;
    background: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
    );
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
}

.promo__title {
    max-width: 818px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 95px;
    color: #272D4E;
    margin-bottom: 29px;
}

.promo__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #94A2B3;
    max-width: 716px;
    margin-bottom: 31px;
}

.promo__info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #94A2B3;
}

.promo__btn {
    display: inline-block;
    max-width: 267px;
    width: 100%;
    background: #7854F7;
    border-radius: 60px;
    text-align: center;
    padding: 26px 0;
    color: #fff;
    cursor: pointer;
    margin-right: 12px;
    font-size: 18px;
    font-weight: 500;
}

.promo__btn:hover {
    background: #583CB9;
    transition: .5s;
}

.promo__link {
    font-weight: 700;
    color: #299EF3;
    margin-left: 10px;
}
