*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1204px;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
}
.awesome__container{
    max-width: 1204px;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
}
.awesome{
    margin-bottom: 110px;
}
.awesome__title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 80px;
    position: relative;
}
.awesome__title::before {
    content: '';
    display: block;
    border: 1px solid #EC7979;
    width: 170px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px);
}
.awesome__discription{
    margin-bottom: 92px;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.advantages__block{
    max-width: 371px;
    display: inline-block;
    margin-right: 24px;
}
.advantages__wrap-image{
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    margin: 0 auto 24px;
}
.advantages__subtitle{
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
}
.advantages__text{
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.advantages__image{
    height: 100%;
    width: 100%;
    object-fit: none; 
}
.advantages__block:last-child{
    margin-right: 0px;
}
.tabs{
    margin-bottom: 118px;
}
.container__tabs{
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 16px;
}
.tabs__item_active::before{
    content: '';
    display: block;
    border: 1px solid #ffffff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}
.tabs__item{
    display: inline-block;
    text-align: center;
    max-width: 184px;
    width: 100%;
    font-family: 'Open_Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0px;
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    border: 1px solid transparent;
    border-bottom: none;
    text-decoration: none;
}
.tabs__item_active{
    max-width: 203px;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}
.box{
    border: 1px solid #C6CBCD;
    display: flex;
}
.box__content{
    width: 60%;
    padding: 55px 29px 54px 100px;
}
.box_wrap-image{
    width: 40%;
}
.box__title{
    margin-bottom: 57px;
    font-family: 'Open_Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.box__text{
    margin-bottom: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.box__text:last-child{
    margin: 0;
}
.box__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box__btn{
    background: #EC7979;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    max-width: 270px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
.box__texts{
    margin-bottom: 54px;
}
.pricing{
    text-align: center;
    background: #F5F5F5;
    padding: 82px 16px 83px;
    margin: 0 auto 107px;

}
.pricing__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}
.pricing__title::before {
    content: '';
    display: block;
    border: 1px solid #EC7979;
    width: 170px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px);
}
.pricing__discription{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-bottom: 59px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.wrapper__list{
    list-style: none;
    text-align: center;
    flex: 1 0;
}
.wrapper_item{
    border: 2px solid #F5F5F5;
    background: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 0 14px;
}
.item-name{
    background: #333333;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    padding: 6px 0 5px;
}
.pricing__item-btn{
    border: 2px solid #F5F5F5;
    background: #333333;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    padding: 6px 153px 5px;
}
.pricing__item-btn:hover{
    background-color:#000000;
}
.item-cost{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    height: 100px;
    padding: 26px 0 23px;
    background: #333333;
    color: #FFFFFF;
}
.item_free{
    background: #333333;
    color: #FFFFFF;
}

.wrapper__list:nth-child(2) {
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.customers {
    margin: 107px;
}
.customer__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}
.customer__title::before {
    content: '';
    display: block;
    border: 1px solid #EC7979;
    width: 170px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px);
}
.customer__box-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.customer__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-bottom: 83px;
}
.customer__text {
    font-family: 'Raleway';
    font-style: normal;
    padding: 38px 25px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}
.customer__text::after {
    position: absolute;
    content: "";
    border: 20px solid transparent; border-top: 30px solid #E2E2E2;
    left: 72px;
    top: 100%;
}
.customer__profile {
    display: flex;
    align-items: center;
    gap: 30px;
}
.customer__item {
    flex: 1 0;
}
.customer__photo-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
} 
.customer__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.customer__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 18px;
}
.customer__position {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}
.design {
    padding: 70px 0;
    background: url(/assets/image/footer.png) center/cover no-repeat;
    position: relative;
    margin-bottom: 67px;
}
.design::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.design__container {
    position: relative;
}
.design__title {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.design__title::before{
    border: 1px solid #FFFFFF;
    content: '';
    display: block;
    width: 170px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 40px);
}
.design__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 80px;
}
.design__button {
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    max-width: 370px;
    margin: 0 auto;
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.design__button:hover {
    border: 2px solid va(--main-color); 
    color: var(--main-color);
    transition: .5s;
}
.design__button:active {
    background: var(--second-color);
    border: 2px solid var(--second-color);
    color: #e71616;
    transition: .5s;
}
.footer {
    background: #000000;
    padding: 35px 0 27px;
}
.footer__wrapper {
    display: flex;
    column-gap: 32.8px;
    justify-content: center;
    margin-bottom: 27.8px;
}
.footer__item {
    width: 53.2px;
    height: 53.2px;
    list-style: none;
}
.footer__item-link {
    width: 100%;
    height: 100%;
    display: block;
}
.footer__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__copyright {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.footer__icon:hover path{
    fill: var(--main-color);
    transition: .2s;
}
.footer__icon-item:hover {
    transform: scale(1.5);
    transition: .2s;
}
.header {
    padding: 22px 0;
    background: #000000;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__list {
    display: flex;
    list-style: none;
    column-gap: 3px;
}
.header__item {
    min-width: 114px;
    text-align: center;
}
.header__link {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.header__link:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: .3s;
}
.contact{
    margin-bottom: 66px;
}
.contact__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}
.contact__title::before {
    content: '';
    display: block;
    border: 1px solid #EC7979;
    width: 170px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px); 
}
.contact__discription{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-bottom: 89px;
}

.contact__wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 50px;
}
.contact__info{
    flex: 1 0;
}
.contact__input{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border: none;
    border-bottom: solid 1px #BDBDBD;
    padding: 15px 0;
    font-size: 14px;
    font-family: 'Open Sans';
    width: 100%;
    margin-bottom: 50px;
}
.contact__input:last-child{
    margin-bottom: 0px;
}
.contact__massage{
    color: #BDBDBD;
    border: none;
    border-bottom: solid 1px #BDBDBD;
    padding: 15px 0;
    font-size: 14px;
    font-family: 'Open Sans';
    flex: 1 0;
    vertical-align: top;
    resize: none;
}
.contact__btn{
    background: #EC7979;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.banner {
    padding: 306px 0 185px;
    background: url(/assets/image/header.png) center/cover no-repeat;
    position: relative;

}
.banner__container {
    position: relative;
    text-align: left;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}
.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.banner__box {
    max-width: 57%;
}
.banner__logo-wrap {
    width: 170px;
    margin-bottom: 72.88px;
}
.banner__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 97px;
    max-width: 670px;
}
.banner__title::before {
    content: "";
    width: 170px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    top: 100%;
    transform: translate(0, 55px);
}
.banner__subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 270px;
    margin-bottom: 42px;
}
.banner__btn {
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
    max-width: 270px;
    width: 100%;
    display: inline-block;
}
.banner__form {
    max-width: 40%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 36px 0 0;
    height: 100%;
    margin-top: 27px;
}
.banner__form-title {
    color: #333;
    text-align: center;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 400px;
    padding: 0 15px;
    margin: 0 auto 58px;
}
.banner__title-span {
    color: #EC7979;
    text-align: center;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 75px;
}
.banner__form-wrap {
    max-width: 400px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-bottom: 75px;
}
.banner__input {
    color: rgb(8, 8, 8);
    font-size: 14px;
    font-family: Open Sans;
    border: 0;
    padding: 16.8px 0;
    width: 100%;
    border-bottom: 0.5px solid #BDBDBD;
}
.banner__form-btn {
    border: none;
    color: #FFF;
    background: #EC7979;
    text-align: center;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 600;
    width: 100%;
    padding: 16px 0;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}
.media{
    margin-bottom: 100px;
    background-color: #F8EFEF;
}
.media__container{
    display: flex;
    text-align: left;
}
.media__title{
    padding: 32px 0px 16px 0px ;
    font-size: 24px;
    font-family: "open sans", sans-serif;
    font-weight: 700;
    line-height: 32px;
}
.media__text{
    max-width: 470px;
    font-family: "Raleway", sans-serif;
    padding: 0px 0px 18px;
    color: #86878B;
}
.media__logo{
    display: flex;
    column-gap: 30px;
    padding: 35px ;
    list-style: none;
    justify-content: center;
}