* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabs {
    margin-bottom: 118px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.tabs__items {
    display: flex;
}
.tabs__item {
    max-width: 180px;
    width: 100%;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    color: #333333;
    text-decoration: none;
}

.tabs__item-active {
    max-width: 203px;
    border: 1px solid #c6cbcd;
    border-radius: 5px 5px 0px 0px;
}

.tab {
    display: flex;
    border: 1px solid #c6cbcd;
}

.tab__content {
    padding: 55px 30px 55px 100px;
    width: 60%;
}

.tab__title {
    margin-bottom: 57px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.tab__texts {
    margin-bottom: 84px;
}

.tab__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
}

.tab__text:last-child {
    margin-bottom: 0;
}

.tab__button {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    max-width: 270px;
    width: 100%;
    padding: 16px;
    border: 1px solid #ec7979;
    color: #ffffff;
    background-color: #ec7979;
    cursor: pointer;
}
.tab__wrap-img {
    width: 40%;
}
.tab__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advantages {
    margin-bottom: 110px;
    text-align: center;
}
.title {
    margin-bottom: 40px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
}

.border {
    background-color: #ec7979;
    width: 170px;
    height: 1px;
    margin: 0 auto 40px;
}

.description {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878b;
    line-height: 21px;
    margin-bottom: 92px;
}

.advantage {
    flex: 1 0;
}

.advantage__wrap-img {
    margin: 0 auto 24px;
    width: 91.86px;
    height: 91.61px;
    border-radius: 50%;
    border: 1px solid #ec7979;
}

.advantage__img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

.advantage__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px;
}

.advantage__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.advantages__content {
    display: flex;
    column-gap: 28px;
}

.pricing {
    margin-bottom: 107px;
    text-align: center;
    background: #f5f5f5;
    padding-top: 82px;
    padding-bottom: 83px;
}

.pricing_description {
    margin-bottom: 59px;
}

.pricing__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.pricing__box {
    margin-top: 20px;
    list-style-type: none;
    flex: 1 0;
}
.pricing_box_mid {
        margin-top: 0;
        margin-bottom: 20px;
        filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing__item {
    background: #ffffff;
    font-weight: 400;
    color: #86878b;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    padding: 10px;
    border: 1px solid #f5f5f5;
    text-align: center;
}

.pricing__item_desc {
    background: #333333;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    padding: 15px;
}
.pricing__item_price {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: #333333;
    color: #ffffff;
    padding: 20px;
}
.pricing__item_life{
    background: #333333;
    color: #ffffff80;
}
