* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.tabs {
    margin-bottom: 118px;
}
.tabs__partition {
    display:flex;
}
.partition {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:#333333;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    max-width: 184px;
    width: 100%;
}
.partition_current {
    border: 1px solid #C6CBCD;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    max-width:203px;
}
.tab {
    padding: 55px 29px 54px 100px;
    width:58%;
   
}
.tab__title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom:57px;
    font-size: 30px;
    line-height: 41px;
    font-weight: 700;
}
.tab__paragraph:first-child {
    margin-bottom:26px;
}
.tab__paragraphs {
    margin-bottom: 84px;
}
.tab__image-wrapper{
    width:42%;
}
.tab__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tabs__content {
    display: flex;
    border: 1px solid #C6CBCD;
}
.tab__button {
font-family: 'Open Sans', sans-serif;
max-width: 270px;
width:100%;
padding: 16px;
background-color: #EC7979;
border-style:none;
text-align: center;
color: #FFFFFF;
font-weight:600;
font-size: 18px;
line-height:25px;
}
.paragraph {
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 18px;
line-height:21px;
}


.awesome {
text-align: center;
margin-bottom: 110px;
}
.container {
    max-width:1202px;
    padding: 0 16px;
    margin: 0 auto;
}
.title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
}
.line {
    width: 170px;
    height: 0;
    border-top: 1px solid #EC7979;
    margin: 0 auto 40px;
}
.desc{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 92px;
    color: #86878B;
    line-height: 21px;
    font-size:18px;
}
.group {
    display: flex;
    justify-content: center;
    column-gap: 28px;
}

.group__item{
flex:1 0;
}
.item:last-child{
    margin-right:0;
}
.item__image-wrapper {
    display: flex;
   align-items: center;
   justify-content: center;
    width: 92px;
    height: 92px;
    border:1px solid #EC7979; 
    border-radius: 50%;
    margin:0 auto 24px;
}
.item__heading{
    margin-bottom:26px;
    font-weight: 700;;
    font-size: 24px;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
}
.item__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.pricing{
    background-color: #F5F5F5;
    text-align: center;
    padding:82px 0 83px;
    margin-bottom: 107px;
}
.pricing__desc{
    margin-bottom: 79px;
}
.pricing__info{
    display:flex;
    justify-content: space-between;
    column-gap: 30px;
}
.rate{
    width: calc((100% - 60px) /3);
}
.rate__description{
    background-color: #333333;
}
.rate__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:24px;
    line-height: 32px;
    padding: 14px 0;
    color:#FFFFFF;
}
.price{
    border: 2px solid #F5F5F5;
    border-right: 0;
    border-left:0;
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 29px 0;
}
.rate__info{
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 0 14px;
    color:rgb(255, 255, 255,0.5);
}
.rate__items{
    background-color: #FFFFFF;
}
.rate__item {
   font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 0 14px;
    color:#86878B;
    list-style-type: none;
    border: 1px solid #F5F5F5;
    text-transform: capitalize; 
}
.rate_popular{
    transform: translate(0,-20px);
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}
