*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1202px;
    padding: 0 16px;
    margin: 0 auto;
}
.tabs{
    margin-bottom: 118px;  
}

.tabs__items{
    display: flex;
}
.tabs__item{
    max-width: 184px;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}
.tabs__item_active{
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    max-width: 202px;
    border-bottom: none;
}
.tab{
    display: flex;
    border: 1px solid #C6CBCD;
}

.tab__info{
    padding: 55px 30px 55px 100px;
    width: 60%;
}
.tab__wrap-img{
    width: 40%;
}
.tab__title{
    margin-bottom: 57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.tab__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
}
.tab__text:last-child{
    margin-bottom: 0;
}
.tab__texts{
    margin-bottom: 84px;
}

.tab__button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    max-width: 270px;
    width: 100%;
    padding: 16px;
    border: 1px solid #EC7979;
    color: #ffffff;
    background-color: #EC7979;
    cursor: pointer;
}
.tab__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}