*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1202px;
    padding: 0 16px;
    margin: 0 auto;
}
.line::after{
    content: "";
    display:block;
    width: 170px;
    height: 0;
    border-top: 1px solid #EC7979;
    position:absolute;
    transform: translate(500px,40px);
}
.btn:hover{
    border: 2px solid #EC7979;
    color:#EC7979
}
.btn:active{
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFFFFF;
}
.button:hover{
    background:#AB4949;
}
.button:active{
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.header{
    background-color: #000000;
    padding: 22px 0;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display:flex;
    list-style: none;
}
.menu__item{
    min-width: 113px;
    text-align: center;
}
.menu__link{
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.banner{
    background-image: url(../images/background-banner.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 306px 0 185px;
    position: relative;
    margin-bottom: 100px;
}
.banner::before{
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.banner__container{
    display: flex;
    position: relative;
    align-items: center;
}
.banner__logo-box{
    display: inline-block;
    margin-bottom: 73px;
}
.banner__title{
    color: #FFF;
    font-size: 48px;
    font-family: Raleway;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    max-width: 670px;
    width: 100%;
    margin-bottom: 98px;
}
.banner__title::after{
    content: '';
    border-bottom: 1px solid #fff;
    width: 170px;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(55px);
}
.banner__text{
    color: #FFF;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 400;
    max-width: 270px;
    margin-bottom: 42px;
}
.banner__button{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 600;
    border: 2px solid #FFFFFF;
    background: none;
    cursor: pointer;
    max-width: 270px;
    width: 100%;
    padding: 15px;
    position: absolute;
}
/*.banner__button:hover{
    border: 2px solid #EC7979;
    color:#EC7979
}
.banner__button:active{
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFFFFF;
}*/
.form{
    max-width: 470px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.form__title{
    text-align: center;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    padding:36px 0 75px;
}
.form__title_span{
    color: #EC7979;
}
.form__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form__input-box{
    max-width: 370px;
    width: 100%;
    margin-bottom: 78px;
}
.form__input{
    width: 100%;
    padding: 16px 0;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    margin-bottom: 31px;
}
.form__input::placeholder {
    color: #BDBDBD;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 19px;
}
.form__button {
    border: none;
    max-width: 470px;
    width: 100%;
    background: #EC7979;
    border-radius: 0 0 10px 10px;
    padding: 16px 0;
    color: #FFF;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 600;
    cursor: pointer;
}
.form__input:last-child{
    margin-bottom: 0;
}

.tabs{
    margin-bottom: 118px;  
}
.tabs__items{
    display: flex;
}
.tabs__item{
    max-width: 184px;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.tabs__item-active{
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    max-width: 202px;
    border-bottom: none;
    position: relative;
}
.tabs__item-active::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom:-2px;
    border-bottom: 4px solid #ffffff;
}
.tab{
    display: flex;
    border: 1px solid #C6CBCD;

}

.tab__info{
    padding: 55px 30px 55px 100px;
    width: 60%;
}
.tab__wrap-img{
    width: 40%;
}
.tab__title{
    margin-bottom: 57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.tab__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
}
.tab__text:last-child{
    margin-bottom: 0;
}
.tab__texts{
    margin-bottom: 84px;
}

.tab__button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    max-width: 270px;
    width: 100%;
    padding: 16px;
    border:none; 
    color: #ffffff;
    background: #EC7979;
    cursor: pointer;

    /*border: 2px solid #EC7979;
    max-width: 270px;
    width: 100%;
    background: #EC7979;
    padding: 16px 0;
    color: #FFF;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 600;
    cursor: pointer;*/
}
.tab__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.awesome{
    margin-bottom: 110px;
    text-align: center;

}
.awesome__title{
    margin-bottom: 80px;
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}
.awesome__text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    color:#86878B;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 92px;
}
.content{
    display: flex;
    column-gap: 27px;
}
.content__wrapper{
    flex: 1 0;
}
.content__img{
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;

}

.content__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto 40px;
}
.content__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.content__wrapper:last-child{
    margin-right: 0;
}

.pricing{
    margin-bottom: 118px;
    text-align: center;
    background-color: #F5F5F5;
    padding: 82px 0;
}
.pricing__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
}
.pricing__text{
    margin-bottom: 79px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.pricing__items{
    display: flex;
    column-gap: 30px;

}
.pricing__items-box{
    flex: 1 0;

}
.pricing__item{
    list-style-type:none;
    text-align: center;
    color: #86878B;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 14px 0 15px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
}
.pricing__item_name{
    background-color: #333333;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.pricing__item_price{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 27px 0;
    background-color: #333333;
    color: #FFFFFF;
}
.pricing__item_free{
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;

}
.pricing__items-box_active{
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.customers{
    margin-bottom: 107px;
    text-align: center;
}
.customers__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}

.customers__text{
    margin-bottom: 83px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.messages{
    display: flex;
    column-gap: 30px;
}
.message__text{
    margin-bottom:66px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    border-radius: 10px;
    background-color: #E2E2E2;
    padding: 37px 25px;
    position:relative;
}
.message__text::after{
    content:'';
    position: absolute;
    display:block;
    border: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
    top:100%;
    left:45px;
}
.message__author{
    column-gap: 30px;
    text-align: left;
    display: flex;
}
.author__picture_box{
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.author__picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.author__name{
    margin-bottom: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:24px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.author__post{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.design{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 70px 0;   
    margin-bottom: 67px; 
}
.design__container{
    position: relative;
    align-items: center;
    gap: 101px;
}
.design::before{
    content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}
.design__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 80px;
}

.design__title::after {
    content: "";
    display: block;
    width: 170px;
    height: 0;
    border-top: 1px solid #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(500px, 80px);
}
.design__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 80px;
}
.design__button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    max-width: 370px;
    width: 100%;
    padding: 18px;
    border: 1px solid #FFFFFF;
    color: #ffffff;
    background: none;
    cursor: pointer;
}
.contact{
    margin-bottom: 101px;
    text-align: center;
}
.contact__title{
    font-size: 36px;
    font-family: Raleway;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.contact__text{
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 400;
    margin-bottom: 89px;
}

.contact-form__box{
    margin-bottom: 50px;   
    display: flex;
    flex: 1 0;
    column-gap: 30px;
}
.contact-form__inputs{
    flex: 1 0;
}
.contact-form__input{
    flex: 1 0;
    width:100%;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    padding: 16px 0;
}
.contact-form__input::placeholder {
    color: #BDBDBD;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 19px;
}
.contact-form__input:last-child {
    margin: 0;
}
.contact-form__textarea{
    resize: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px 0;
    width: 100%;
    height: 100%;
    outline: none;
}
.contact-form__textarea::placeholder{
    color: #BDBDBD;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 19px;
}

.contact__button{
    font-family: 'Open Sans', sans-serif;
    max-width: 370px;
    width: 100%;
    padding: 16px;
    background-color: #EC7979;
    border-style: none;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.contact-form__textarea-box{  
    flex: 1 0;
}
.footer{
    background-color: #000000;
    padding: 35px 0 27px;
}
.footer__items{
    margin-bottom: 27px;
    display: flex;
    column-gap: 32px;
    justify-content: center;
}
.footer__item{
    list-style: none;
    width: 53.5px;
    height: 53.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copy{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}